language: node_js
script: npm run-script test-travis
node_js:
- '0.10'
- '0.11'
after_script: npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls
deploy:
  provider: npm
  email: tituswormer@gmail.com
  api_key:
    secure: MMkXhcQyPodeIRs/xkhZnUmOCDAN+ntIdzPCIt9l+JaO3CjQKD+VVFCniNGBhmLg18e7avy/4FThs5tNq4XFjWpHoedRJskZytdKA3NioCVq7Wvrc3GQTAWNya7AONSNYiqvEakENCEVa6a+BMsuAq0kR+H/6eyDSBCXCyTkbHg=
  on:
    repo: wooorm/stemmer
